{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container marketing">
        <p><a class="btn btn-success" href="{% url 'blog:blog_form' %}" role="button">Создать
    </a></p>
    <div class="row">
        {% for object in blog_list %}
        <div class="col-lg-4">
            {% if object.image %}
            <img class="rounded-circle"
                 src="{% media_file object.image %}"
                 alt="Generic placeholder image" width="150" height="150">
            {% else %}
            <img class="rounded-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Generic placeholder image" width="150" height="150">
            {% endif %}
            <h2>{{ object.title }}</h2>
            <p>{{ object.slug }}.</p>
            <p><a class="btn btn-secondary" href="{% url 'blog:blog_detail' object.slug %}" role="button">Смотреть
                &raquo;</a></p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}